{
  "openapi": "3.1.1",
  "info": {
    "title": "PartyPlan API",
    "description": "API de PartyPlan. Événements privés par défaut (RG-EVT-01).",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.partyplan.maxencecoeur.fr",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/admin/users": {
      "get": {
        "tags": [
          "Administration"
        ],
        "summary": "Liste les comptes, avec recherche et pagination.",
        "operationId": "AdminListUsers",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPage"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/users/{userId}": {
      "get": {
        "tags": [
          "Administration"
        ],
        "summary": "Fiche technique d'un compte. Ne contient aucune donnée d'événement.",
        "operationId": "AdminGetUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRecord"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Administration"
        ],
        "summary": "Supprime un compte. Les contributions financières sont anonymisées.",
        "operationId": "AdminDeleteUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/admin/metrics": {
      "get": {
        "tags": [
          "Administration"
        ],
        "summary": "Indicateurs d'instance.",
        "operationId": "AdminMetrics",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceMetrics"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/audit": {
      "get": {
        "tags": [
          "Administration"
        ],
        "summary": "Journal d'audit, du plus récent au plus ancien.",
        "operationId": "AdminAuditLog",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditEntryView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/users/{userId}/password-reset": {
      "post": {
        "tags": [
          "Administration"
        ],
        "summary": "Envoie un lien de réinitialisation à l'adresse du compte.",
        "operationId": "AdminTriggerPasswordReset",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/admin/users/{userId}/sessions": {
      "delete": {
        "tags": [
          "Administration"
        ],
        "summary": "Révoque toutes les sessions d'un compte.",
        "operationId": "AdminRevokeSessions",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/admin/users/{userId}/verify-email": {
      "post": {
        "tags": [
          "Administration"
        ],
        "summary": "Force la vérification d'une adresse, en cas de courriel non délivré.",
        "operationId": "AdminVerifyEmail",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/admin/users/{userId}/export": {
      "get": {
        "tags": [
          "Administration"
        ],
        "summary": "Export des données d'un compte qui ne peut plus se connecter.",
        "operationId": "AdminExportUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/admin/users/{userId}/avatar": {
      "delete": {
        "tags": [
          "Administration"
        ],
        "summary": "Supprime une photo de profil signalée comme inappropriée.",
        "operationId": "AdminRemoveAvatar",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/admin/users/{userId}/suspend": {
      "post": {
        "tags": [
          "Administration"
        ],
        "summary": "Suspend un compte, avec motif obligatoire. Les sessions sont révoquées.",
        "operationId": "AdminSuspendUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuspendRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/admin/users/{userId}/unsuspend": {
      "post": {
        "tags": [
          "Administration"
        ],
        "summary": "Réactive un compte suspendu.",
        "operationId": "AdminUnsuspendUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/admin/users/{userId}/role": {
      "patch": {
        "tags": [
          "Administration"
        ],
        "summary": "Attribue ou retire un rôle plateforme.",
        "operationId": "AdminChangeRole",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Événements de l'appelant, à venir puis passés.",
        "operationId": "ListEvents",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventListItem"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Crée un événement. En-tête Idempotency-Key obligatoire.",
        "operationId": "CreateEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSummary"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Synthèse d'un événement dont l'appelant est membre.",
        "operationId": "GetEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSummary"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Events"
        ],
        "summary": "Modifie l'événement. Un changement de date ou de lieu est journalisé.",
        "operationId": "UpdateEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEventBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSummary"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "Supprime l'événement. Confirmation renforcée exigée par « force ».",
        "operationId": "DeleteEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "force",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/events/{eventId}/invitation": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Lien, code court et état d'ouverture de l'événement.",
        "operationId": "GetInvitation",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventInvitation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{eventId}/invitation/rotate": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Régénère lien et code court. Les précédents deviennent invalides.",
        "operationId": "RotateInvitation",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventInvitation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{eventId}/join-enabled": {
      "patch": {
        "tags": [
          "Events"
        ],
        "summary": "Ouvre ou ferme les nouvelles arrivées.",
        "operationId": "SetJoinEnabled",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinEnabledBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/join/{token}": {
      "get": {
        "tags": [
          "Invitations"
        ],
        "summary": "Aperçu restreint : nom, date, lieu, nombre de participants.",
        "operationId": "PreviewInvitation",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JoinPreview"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Rejoint l'événement. Aucun compte n'est exigé. En-tête Idempotency-Key obligatoire.",
        "operationId": "JoinEvent",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JoinResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/join/code/{shortCode}": {
      "get": {
        "tags": [
          "Invitations"
        ],
        "summary": "Résolution d'un code court PLAN-XXXXXX.",
        "operationId": "PreviewByShortCode",
        "parameters": [
          {
            "name": "shortCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JoinPreview"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Rejoint depuis un code court. En-tête Idempotency-Key obligatoire.",
        "operationId": "JoinByShortCode",
        "parameters": [
          {
            "name": "shortCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JoinResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{eventId}/members": {
      "get": {
        "tags": [
          "Presences"
        ],
        "summary": "Participants, avec statut et horaires.",
        "operationId": "ListMembers",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MemberView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{eventId}/members/me": {
      "patch": {
        "tags": [
          "Presences"
        ],
        "summary": "Déclare sa présence. Chacun ne modifie que la sienne.",
        "operationId": "SetMyAttendance",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendanceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberView"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Presences"
        ],
        "summary": "Quitte l'événement. Le propriétaire doit d'abord transférer.",
        "operationId": "LeaveEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/events/{eventId}/members/{memberId}": {
      "delete": {
        "tags": [
          "Presences"
        ],
        "summary": "Exclut un participant. Ses données financières subsistent.",
        "operationId": "RemoveMember",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/events/{eventId}/members/{memberId}/transfer-ownership": {
      "post": {
        "tags": [
          "Presences"
        ],
        "summary": "Transfère la propriété. L'ancien propriétaire devient administrateur. En-tête Idempotency-Key obligatoire.",
        "operationId": "TransferOwnership",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Crée un compte et ouvre une session.",
        "operationId": "Register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Ouvre une session, ou renvoie un défi de second facteur.",
        "operationId": "Login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/mfa/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Achève la connexion avec un code temporel ou un code de secours.",
        "operationId": "VerifySecondFactor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MfaVerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/google": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Connexion Google. Sans clé configurée, renvoie une erreur explicite.",
        "operationId": "SignInWithGoogle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/providers": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Moyens de connexion du compte courant, et fournisseurs disponibles.",
        "operationId": "ListSignInMethods",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignInMethods"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/providers/{provider}/link": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Rattache une connexion tierce au compte courant.",
        "operationId": "LinkProvider",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/auth/providers/{provider}": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "summary": "Détache une connexion tierce. Refusé si c'est le dernier accès.",
        "operationId": "UnlinkProvider",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/auth/totp/setup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Génère un secret et l'URI otpauth. N'active rien.",
        "operationId": "SetupTotp",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotpEnrollment"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/totp/activate": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Active la double authentification et remet les codes de secours.",
        "operationId": "ActivateTotp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpActivateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotpActivation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/totp": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "summary": "Désactive la double authentification. Exige le mot de passe.",
        "operationId": "DisableTotp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpDisableRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/auth/totp/recovery-codes": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Régénère les codes de secours. Les précédents deviennent inutilisables.",
        "operationId": "RegenerateRecoveryCodes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotpActivation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Renouvelle la session. Le jeton présenté est invalidé.",
        "operationId": "Refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/guest-claim": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Rattache au compte les participations rejointes sans compte.",
        "operationId": "ClaimGuestParticipations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimGuestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimGuestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Révoque la session courante.",
        "operationId": "Logout",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/auth/password/forgot": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Envoie un code de réinitialisation. Réponse identique si l'adresse est inconnue.",
        "operationId": "ForgotPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/auth/password/reset": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Définit un nouveau mot de passe et révoque toutes les sessions.",
        "operationId": "ResetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/auth/password/change": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Change le mot de passe et révoque les autres sessions.",
        "operationId": "ChangePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/auth/email/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Confirme une adresse à partir du code reçu.",
        "operationId": "VerifyEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Profil de l'appelant.",
        "operationId": "GetMe",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyProfile"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Me"
        ],
        "summary": "Modifie le nom affiché, la langue et le fuseau horaire.",
        "operationId": "UpdateMe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyProfile"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Me"
        ],
        "summary": "Supprime le compte. Les contributions financières sont anonymisées.",
        "operationId": "DeleteMyAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/me/email": {
      "post": {
        "tags": [
          "Me"
        ],
        "summary": "Demande un changement d'adresse. Effectif après confirmation.",
        "operationId": "RequestEmailChange",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/me/sessions": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Sessions actives de l'appelant.",
        "operationId": "ListMySessions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MySession"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Me"
        ],
        "summary": "Révoque toutes les sessions sauf la session courante.",
        "operationId": "RevokeMyOtherSessions",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/me/sessions/{sessionId}": {
      "delete": {
        "tags": [
          "Me"
        ],
        "summary": "Révoque une session, y compris la session courante.",
        "operationId": "RevokeMySession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/me/avatar": {
      "put": {
        "tags": [
          "Me"
        ],
        "summary": "Téléverse une photo de profil (multipart, champ « file »).",
        "operationId": "SetMyAvatar",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Me"
        ],
        "summary": "Supprime la photo et revient à l'avatar par défaut.",
        "operationId": "DeleteMyAvatar",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/me/export": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Export complet des données du compte, sans intervention humaine.",
        "operationId": "ExportMyData",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AttendanceBody": {
        "required": [
          "status",
          "arrivalTime",
          "departureTime",
          "extraGuests"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "arrivalTime": {
            "type": [
              "null",
              "string"
            ],
            "format": "time"
          },
          "departureTime": {
            "type": [
              "null",
              "string"
            ],
            "format": "time"
          },
          "extraGuests": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          }
        }
      },
      "AuditEntryView": {
        "required": [
          "id",
          "actorEmail",
          "targetUserId",
          "action",
          "reason",
          "ipAddress",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "actorEmail": {
            "type": "string"
          },
          "targetUserId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "action": {
            "type": "string"
          },
          "reason": {
            "type": [
              "null",
              "string"
            ]
          },
          "ipAddress": {
            "type": [
              "null",
              "string"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "description": "Entrée du journal d'audit, telle que présentée dans le back-office."
      },
      "ChangeEmailRequest": {
        "required": [
          "newEmail"
        ],
        "type": "object",
        "properties": {
          "newEmail": {
            "type": "string"
          }
        }
      },
      "ChangePasswordRequest": {
        "required": [
          "currentPassword",
          "newPassword"
        ],
        "type": "object",
        "properties": {
          "currentPassword": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "ChangeRoleRequest": {
        "required": [
          "role"
        ],
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          }
        }
      },
      "ClaimGuestRequest": {
        "required": [
          "guestToken"
        ],
        "type": "object",
        "properties": {
          "guestToken": {
            "type": "string"
          }
        },
        "description": "            Rattachement d'une participation d'invité au compte connecté (EF-AUTH-11).\n            Endpoint distinct plutôt que champ ajouté à l'inscription et à la connexion :\nl'API compte quatre points d'ouverture de session — inscription, connexion, second\nfacteur, connexion tierce. Un champ n'en couvrirait que deux, et tout compte protégé\npar un second facteur perdrait silencieusement sa participation."
      },
      "ClaimGuestResponse": {
        "required": [
          "linked"
        ],
        "type": "object",
        "properties": {
          "linked": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          }
        },
        "description": "Nombre de participations rattachées. Zéro n'est pas une erreur."
      },
      "CreateEventBody": {
        "required": [
          "name",
          "description",
          "startsAt",
          "endsAt",
          "address"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "startsAt": {
            "type": "string",
            "format": "date-time"
          },
          "endsAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "address": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "DeleteAccountRequest": {
        "required": [
          "emailConfirmation"
        ],
        "type": "object",
        "properties": {
          "emailConfirmation": {
            "type": "string"
          }
        },
        "description": "Suppression de compte. L'adresse est exigée en confirmation : l'opération est\nirréversible et touche des données financières partagées (RG-USR-05)."
      },
      "EventInvitation": {
        "required": [
          "token",
          "shortCode",
          "joinUrl",
          "joinEnabled"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "shortCode": {
            "type": "string"
          },
          "joinUrl": {
            "type": "string"
          },
          "joinEnabled": {
            "type": "boolean"
          }
        },
        "description": "Coordonnées de partage d'un événement (EF-INV-01 à EF-INV-03)."
      },
      "EventListItem": {
        "required": [
          "id",
          "name",
          "startsAt",
          "endsAt",
          "address",
          "coverImageUrl",
          "invited",
          "present",
          "myRole",
          "myStatus",
          "isPast"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "startsAt": {
            "type": "string",
            "format": "date-time"
          },
          "endsAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "address": {
            "type": [
              "null",
              "string"
            ]
          },
          "coverImageUrl": {
            "type": [
              "null",
              "string"
            ]
          },
          "invited": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "present": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "myRole": {
            "type": "string"
          },
          "myStatus": {
            "type": "string"
          },
          "isPast": {
            "type": "boolean"
          }
        },
        "description": "Événement tel qu'il apparaît dans la liste d'accueil (EF-EVT-05)."
      },
      "EventSummary": {
        "required": [
          "id",
          "name",
          "description",
          "startsAt",
          "endsAt",
          "address",
          "coverImageUrl",
          "memberCount",
          "presentCount",
          "maybeCount",
          "joinEnabled"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "startsAt": {
            "type": "string",
            "format": "date-time"
          },
          "endsAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "address": {
            "type": [
              "null",
              "string"
            ]
          },
          "coverImageUrl": {
            "type": [
              "null",
              "string"
            ]
          },
          "memberCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "presentCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "maybeCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "joinEnabled": {
            "type": "boolean"
          }
        },
        "description": "Vue de synthèse d'un événement, telle que renvoyée par l'API. Type distinct de\nl'entité : le contrat public ne doit pas suivre mécaniquement le schéma de la base."
      },
      "ExternalSignInRequest": {
        "required": [
          "idToken"
        ],
        "type": "object",
        "properties": {
          "idToken": {
            "type": "string"
          }
        },
        "description": "Jeton d'identité obtenu auprès du fournisseur par le client."
      },
      "ForgotPasswordRequest": {
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          }
        }
      },
      "HttpValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "title": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "detail": {
            "type": [
              "null",
              "string"
            ]
          },
          "instance": {
            "type": [
              "null",
              "string"
            ]
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "InstanceMetrics": {
        "required": [
          "totalUsers",
          "suspendedUsers",
          "platformStaff",
          "verifiedUsers",
          "totalEvents",
          "activeEvents",
          "guestMembers"
        ],
        "type": "object",
        "properties": {
          "totalUsers": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "suspendedUsers": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "platformStaff": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "verifiedUsers": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "totalEvents": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "activeEvents": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "guestMembers": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          }
        }
      },
      "JoinBody": {
        "required": [
          "displayName",
          "status",
          "arrivalTime"
        ],
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "arrivalTime": {
            "type": [
              "null",
              "string"
            ],
            "format": "time"
          }
        }
      },
      "JoinEnabledBody": {
        "required": [
          "joinEnabled"
        ],
        "type": "object",
        "properties": {
          "joinEnabled": {
            "type": "boolean"
          }
        }
      },
      "JoinPreview": {
        "required": [
          "name",
          "startsAt",
          "endsAt",
          "address",
          "description",
          "participantCount",
          "joinEnabled",
          "alreadyMember"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "startsAt": {
            "type": "string",
            "format": "date-time"
          },
          "endsAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "address": {
            "type": [
              "null",
              "string"
            ]
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "participantCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "joinEnabled": {
            "type": "boolean"
          },
          "alreadyMember": {
            "type": "boolean"
          }
        },
        "description": "            Aperçu d'un événement avant participation (RG-INV-04).\n            Volontairement pauvre : nom, date, lieu, nombre de participants. Ni liste nominative,\nni dépenses, ni discussion. Quiconque détient le lien voit ceci, et rien de plus,\njusqu'à ce qu'il rejoigne."
      },
      "JoinResult": {
        "required": [
          "eventId",
          "memberId",
          "guestToken",
          "guestTokenExpiresAt"
        ],
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string",
            "format": "uuid"
          },
          "memberId": {
            "type": "string",
            "format": "uuid"
          },
          "guestToken": {
            "type": [
              "null",
              "string"
            ]
          },
          "guestTokenExpiresAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          }
        },
        "description": "Résultat d'une participation : la session d'invité, ou la confirmation d'adhésion."
      },
      "LoginRequest": {
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "required": [
          "requiresSecondFactor",
          "accessToken",
          "accessTokenExpiresAt",
          "refreshToken",
          "refreshTokenExpiresAt",
          "challengeToken",
          "challengeExpiresAt"
        ],
        "type": "object",
        "properties": {
          "requiresSecondFactor": {
            "type": "boolean"
          },
          "accessToken": {
            "type": [
              "null",
              "string"
            ]
          },
          "accessTokenExpiresAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "refreshToken": {
            "type": [
              "null",
              "string"
            ]
          },
          "refreshTokenExpiresAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "challengeToken": {
            "type": [
              "null",
              "string"
            ]
          },
          "challengeExpiresAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          }
        },
        "description": "Réponse de connexion. Soit les jetons de session, soit un défi de second facteur —\njamais les deux."
      },
      "MemberView": {
        "required": [
          "id",
          "displayName",
          "avatarUrl",
          "status",
          "arrivalTime",
          "departureTime",
          "extraGuests",
          "role",
          "hasAccount",
          "isMe"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "displayName": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "type": "string"
          },
          "arrivalTime": {
            "type": [
              "null",
              "string"
            ]
          },
          "departureTime": {
            "type": [
              "null",
              "string"
            ]
          },
          "extraGuests": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "role": {
            "type": "string"
          },
          "hasAccount": {
            "type": "boolean"
          },
          "isMe": {
            "type": "boolean"
          }
        },
        "description": "Membre tel qu'il apparaît dans la liste des invités (EF-PRES-04)."
      },
      "MfaVerifyRequest": {
        "required": [
          "challengeToken",
          "code"
        ],
        "type": "object",
        "properties": {
          "challengeToken": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "MyProfile": {
        "required": [
          "id",
          "email",
          "emailVerified",
          "displayName",
          "avatarUrl",
          "locale",
          "timezone",
          "platformRole",
          "hasPassword",
          "totpEnabled",
          "mustChangePassword",
          "premiumUntil",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": [
              "null",
              "string"
            ]
          },
          "emailVerified": {
            "type": "boolean"
          },
          "displayName": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "null",
              "string"
            ]
          },
          "locale": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "platformRole": {
            "type": "string"
          },
          "hasPassword": {
            "type": "boolean"
          },
          "totpEnabled": {
            "type": "boolean"
          },
          "mustChangePassword": {
            "type": "boolean"
          },
          "premiumUntil": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "description": "Profil renvoyé à son titulaire."
      },
      "MySession": {
        "required": [
          "id",
          "deviceLabel",
          "ipAddress",
          "createdAt",
          "lastSeenAt",
          "isCurrent"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deviceLabel": {
            "type": [
              "null",
              "string"
            ]
          },
          "ipAddress": {
            "type": [
              "null",
              "string"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "isCurrent": {
            "type": "boolean"
          }
        },
        "description": "Session active, telle que présentée à son titulaire (EF-AUTH-10)."
      },
      "PlatformRole": {
        "type": "integer",
        "description": "Rôle de portée « instance entière » (§3.1). Sans rapport avec EventMemberRole :\nun PlatformRole.PlatformAdmin n'a aucun droit dans un événement dont il n'est pas membre."
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "title": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "detail": {
            "type": [
              "null",
              "string"
            ]
          },
          "instance": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "ProviderState": {
        "required": [
          "provider",
          "configured",
          "linked"
        ],
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Identifiant du fournisseur, en minuscules."
          },
          "configured": {
            "type": "boolean",
            "description": "Vrai si cette instance dispose des clés nécessaires."
          },
          "linked": {
            "type": "boolean",
            "description": "Vrai si ce compte est rattaché à ce fournisseur."
          }
        },
        "description": "État d'un fournisseur tiers pour un compte donné (EF-AUTH-08).\nConfigured et Linked sont indépendants : un\nfournisseur peut être rattaché à un compte alors que l'instance n'a plus de clé, et\nil doit alors rester détachable."
      },
      "RefreshRequest": {
        "required": [
          "refreshToken"
        ],
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "RegisterRequest": {
        "required": [
          "email",
          "password",
          "displayName"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        },
        "description": "Corps des requêtes d'authentification et de compte."
      },
      "ResetPasswordRequest": {
        "required": [
          "token",
          "newPassword"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "SignInMethods": {
        "required": [
          "hasPassword",
          "providers"
        ],
        "type": "object",
        "properties": {
          "hasPassword": {
            "type": "boolean"
          },
          "providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderState"
            }
          }
        },
        "description": "            Moyens de connexion d'un compte (EF-AUTH-08).\n            Le sujet transmis par le fournisseur n'est jamais exposé : l'écran n'en a pas besoin,\net une réponse d'API ne porte pas d'identifiant tiers."
      },
      "SuspendRequest": {
        "required": [
          "reason"
        ],
        "type": "object",
        "properties": {
          "reason": {
            "type": "string"
          }
        }
      },
      "TokenResponse": {
        "required": [
          "accessToken",
          "accessTokenExpiresAt",
          "refreshToken",
          "refreshTokenExpiresAt"
        ],
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "accessTokenExpiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "refreshToken": {
            "type": "string"
          },
          "refreshTokenExpiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "description": "Jetons remis au client."
      },
      "TotpActivateRequest": {
        "required": [
          "code"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "TotpActivation": {
        "required": [
          "recoveryCodes"
        ],
        "type": "object",
        "properties": {
          "recoveryCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Résultat d'une activation : les codes de secours, affichés une seule fois."
      },
      "TotpDisableRequest": {
        "required": [
          "password"
        ],
        "type": "object",
        "properties": {
          "password": {
            "type": "string"
          }
        }
      },
      "TotpEnrollment": {
        "required": [
          "secret",
          "otpAuthUri"
        ],
        "type": "object",
        "properties": {
          "secret": {
            "type": "string"
          },
          "otpAuthUri": {
            "type": "string"
          }
        },
        "description": "Éléments d'enrôlement remis au client (EF-AUTH-12)."
      },
      "UpdateEventBody": {
        "required": [
          "name",
          "description",
          "startsAt",
          "endsAt",
          "address"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "startsAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "endsAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "address": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "UpdateProfileRequest": {
        "required": [
          "displayName",
          "locale",
          "timezone"
        ],
        "type": "object",
        "properties": {
          "displayName": {
            "type": [
              "null",
              "string"
            ]
          },
          "locale": {
            "type": [
              "null",
              "string"
            ]
          },
          "timezone": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "UserPage": {
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserRecord"
            }
          },
          "total": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "page": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "pageSize": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          }
        }
      },
      "UserRecord": {
        "required": [
          "id",
          "email",
          "displayName",
          "avatarUrl",
          "platformRole",
          "emailVerified",
          "hasPassword",
          "totpEnabled",
          "googleLinked",
          "appleLinked",
          "isSuspended",
          "suspensionReason",
          "lastLoginAt",
          "eventCount",
          "activeSessionCount",
          "createdAt",
          "deletedAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": [
              "null",
              "string"
            ]
          },
          "displayName": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "null",
              "string"
            ]
          },
          "platformRole": {
            "$ref": "#/components/schemas/PlatformRole"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "hasPassword": {
            "type": "boolean"
          },
          "totpEnabled": {
            "type": "boolean"
          },
          "googleLinked": {
            "type": "boolean"
          },
          "appleLinked": {
            "type": "boolean"
          },
          "isSuspended": {
            "type": "boolean"
          },
          "suspensionReason": {
            "type": [
              "null",
              "string"
            ]
          },
          "lastLoginAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "eventCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "activeSessionCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          }
        },
        "description": "Vue d'un compte pour l'administration. Volontairement limitée aux données techniques\nnécessaires au support (RG-RGPD-04) : ni contenu d'événement, ni empreinte de mot de\npasse, ni secret de double authentification."
      },
      "VerifyEmailRequest": {
        "required": [
          "token"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Administration"
    },
    {
      "name": "Events"
    },
    {
      "name": "Invitations"
    },
    {
      "name": "Presences"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Me"
    }
  ]
}
